.App {
  padding: 20px;
	text-align: center;
	max-width: 500px;
	margin: 10px auto;
  background-color: rgb(10, 53, 133);
}


.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex: 50%;
}